include ./checkbox

doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='shortcut icon', type='image/x-icon', href=require('@images/mandalas2.ico'))
  title Mandalas

body
  .bodywrapper
    header.title

      #header_input_form
        #number_of_symbols_box
          input#number_of_symbols(type='number', min='1')
          #number_of_symbols__clear
        input#title_input(type='text', placeholder='Название мандалы')
        button#clear_button

      #numeric_adaptation
        //- .numeric_adaptation_item_first
        //- .numeric_adaptation_item
        //- .numeric_adaptation_item
        //- (it add`s from JS)


    section.sidebar

      article#statistic
        #statistic_sort_button.bg_arrow_down(title='Сортировка статистики')
        - for (let i=1; i<10; i++) {
          div 0
        - }
        
      #palitra
        .palitra_button(title='Статистика') S
        - for (let i=1; i<10; i++) {
          .palitra_button #{i}
        - }
        .palitra_button(title='Цветовые схемы') C
        +checkbox({title:"Сохранить цветовые настройки"})

    #left_panel
      .palitra_button(title='Убрать сетку') #
      .palitra_button(title='Убрать все цвета') X
      .palitra_button(title='Поменять активные с невидимыми') @
      .palitra_button(title='Вернуть все цвета') A
      .palitra_button(title='Поменять цвет обводки') B
      .palitra_button(title='Убрать/отобразить обводку') b
      .palitra_button(title='Убрать/отобразить цифры') №
      .palitra_button(title='Точечный режим') &#8729;
      .palitra_button(title='Приблизить') +
      .palitra_button(title='Отдалить') -
      +checkbox({title:"Сохранить настройки отображения"})
      .palitra_button(title='Помощь') ?

    footer
      button#undo_button.bg_undo_redo(title='Предыдущее значение')
        span 0
      button#redo_button.bg_undo_redo.redo_to_copy(title='Следующее значение')
        span 0
      label.select_mandala_type(for='select_mandala_type')
        | Выберите тип мандалы
        select#select_mandala_type.bg_arrow_down(name='select_mandala_type')
          option(value='4') квадрат (по три)
          option(value='3') квадрат (по три) "ромб"
          option(value='8') квадрат шахматный расчёт (1вар)
          option(value='9') квадрат шахматный расчёт (2вар)