#help_panel {
    position: absolute;
    top: $top_buttons;
    left: 50px;

    transform: scaleX(0);
    transform-origin: left;
    
    transition: 0.5s;
    transition-timing-function: cubic-bezier(1,1,0,1);

    &.active {
    	transform: scaleX(1);
    }
}

.help_description {
	
	font-size: 11px;
	padding: 8.15px 0;
	font-weight: bold;
    user-select: none;

	&__text {
        background: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0.3)75%, rgba(0,0,0,0)90% );
	}

}