label.select_mandala_type {
    font-family: $mainFont;
    font-size: 110%;
    font-weight: bold;
    text-shadow: 0.5px 0.5px white;
    text-transform: uppercase;
    user-select: none;
}


#select_mandala_type {
    font-family: $mainFont;
    background-color: #e3e4e5;
    background-position: 97% 50%;
    background-size: 5%;

    border: 1px solid #a2a2a2;
    border-radius: 3px;
    color: #757575;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
